services:
  db:
    image: mysql:8.0
    container_name: perfumes-db
    restart: always
    environment:
      # Estos datos deben coincidir con tu production.env
      MYSQL_DATABASE: perfumeria
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 5
    volumes:
      - db_data:/var/lib/mysql

  api:
    build: .
    container_name: perfumes-api
    restart: always
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:3000"
    # Ruta corregida según la ubicación de tu archivo
    env_file:
      - ./env/production.env
    environment:
      - NODE_ENV=production
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=root_password

volumes:
  db_data: